<html>
    <head>
        <title>RAM</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">RAMs</h1>
            <p class="lead" style="text-align: center;">Chrome's Favourtie Snack XD</p>
            <hr class="my-4">
            <img src="assets/Images/RAM/RAM.jpg" style="width: 60%; height:400px; margin-left: 20%;"/>
        </div>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Corsair
            </div>
            <div class="card-body">
                <h5 class="card-title">The Best Quality</h5>
                <img src="assets/Images/RAM/corsairRAM.jpg" style="width: 500px; height: 350px;">
                <p class="card-text">Best RAMs on the market for gaming</p>
            </div>
            <div class="card-footer">
                Starts from $49.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Aorus
            </div>
            <div class="card-body">
                <h5 class="card-title">The Cheap Alternative</h5>
                <img src="assets/Images/RAM/aorusRAM.jpg" style="width: 500px; height: 350px;">
                <p class="card-text">Best Price to Performance Ratio</p>
            </div>
            <div class="card-footer">
                Starts from $42.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                HyperX
            </div>
            <div class="card-body">
                <h5 class="card-title">Deep Pockets</h5>
                <img src="assets/Images/RAM/HyperXRAM.jpg" style="width: 500px; height: 350px;">
                <p class="card-text">For those who want Prestige with Performance</p>
            </div>
            <div class="card-footer">
                Starts from $64.99
            </div>
        </div>
    </body>
</html>
