<html>
    <head>
        <title>Peripherals</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Peripherals</h1>
            <p class="lead" style="text-align: center;">Speed, Power, You name It</p>
            <hr class="my-4">
            <img src="assets/Images/Peripherals/Peripherals.jpg" style="width: 60%; height:400px; margin-left: 20%;"/>
        </div>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Razer
            </div>
            <div class="card-body">
                <h5 class="card-title">Prestige and Power</h5>
                <img src="assets/Images/Peripherals/Razer.jpg" style="width: 500px; height: 350px;">
                <p class="card-text">Green is cool. Green with dark Aesthetic is way cooler</p>
            </div>
            <div class="card-footer">
                Ranges from Mice to Keyboards and Even An Energy Drink
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                SteelSeries
            </div>
            <div class="card-body">
                <h5 class="card-title">The King</h5>
                <img src="assets/Images/Peripherals/SteelSeries.jpg" style="width: 500px; height: 500px;">
                <p class="card-text">Performance over Price</p>
            </div>
            <div class="card-footer">
                Mice, Mousepads and Keyboards to Headsets
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
               HyperX
            </div>
            <div class="card-body">
                <h5 class="card-title">The Show-off or the Pro</h5>
                <img src="assets/Images/Peripherals/HyperX.jpg" style="width: 500px; height: 200px;">
                <p class="card-text">I use this, so I must be Pro</p>
            </div>
            <div class="card-footer">
                Keyboards and Headsets of Great Quality
            </div>
        </div>
    </body>
</html>