<html>
    <head>
        <title>CPU</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">CPUs</h1>
            <p class="lead" style="text-align: center;">The Brain for the Workstation</p>
            <hr class="my-4">
            <img src="assets/Images/CPU/CPU_Head.png" style="width: 60%; height:300px; margin-left: 20%;"/>
        </div>
        <div class="card" style="width: 49.8%; float:left">
            <div class="card-header">
                Intel<br>
                <img src="assets/Images/CPU/Intel.jpg" style="height: 200px; width: 300px; margin-top: 20px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">Latest 10th Gen CPUs</h5>
                <p class="card-text">Most notable performance difference since forever.<br>
                     Starting with 4-cores even on the i3.<br>
                    Undoubtedly, Intel's most powerful Generation of CPUS</p>
            </div>
            <div class="card-footer">
                Price ranges between $149.99-$399.99.
            </div>
        </div>
        <div class="card" style="width: 49.8%; float:right" >
            <div class="card-header">
                AMD<br>
                <img src="assets/Images/CPU/Ryzen.jpg" style="height: 200px; width: 300px; margin-top: 20px;">
            </div>
            <div class="card-body">
                <h5 class="card-title">AMD's Back with a vengence</h5>
                <p class="card-text">Power, Power and More Power.<br>
                     Crushes puny Intel on base performance as well as multicore.<br>
                     Heat management Requires.</p>
            </div>
            <div class="card-footer">
                Price ranges between $99.99-$299.99.
            </div>
        </div>
    </body>
</html>
