<html>
    <head>
        <title>GPU</title>
    </head>
    <body>
        <hr>
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">GPUs</h1>
            <p class="lead" style="text-align: center;">These Rule The World</p>
            <hr class="my-4">
            <img src="assets/Images/GPU/GPUs.jpg" style="width: 60%; height:450px; margin-left: 20%;"/>
        </div>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Titan
            </div>
            <div class="card-body">
                <h5 class="card-title">Titan Series by Nvidia</h5>
                <img src="assets/Images/GPU/Titan.jpg" style="width: 500px; height: 300px;">
                <p class="card-text">Titan X<br>
                    GTX-1050Ti<br>
                    GTX-1070Ti<br>
                    GTX-1080Ti<br>
                    RTX-2070Ti<br>
                    RTX-2080Ti<br>
                </p>
            </div>
            <div class="card-footer">
                $250.99-$1199.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Super
            </div>
            <div class="card-body">
                <h5 class="card-title">Super Series by Nvidia</h5>
                <img src="assets/Images/GPU/Nvidia.jpg" style="width: 500px; height: 300px;">
                <p class="card-text">
                    RTX-2060Super<br>
                    RTX-2070Super<br>
                    RTX-2080Super<br>
                </p>
            </div>
            <div class="card-footer">
                $299.99-$999.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                Radeon
            </div>
            <div class="card-body">
                <h5 class="card-title">Radeon Series by AMD</h5>
                <img src="assets/Images/GPU/Radeon.jpg" style="width: 500px; height: 300px;">
                <p class="card-text">RX-560<br>
                    RX-570<br>
                    RX-580<br>
                </p>
            </div>
            <div class="card-footer">
                $250.99-$499.99
            </div>
        </div>
    </body>
</html>