<html>
    <head>
        <title>Monitors</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Monitors</h1>
            <p class="lead" style="text-align: center;">Eye Soothing, Mind Blowing</p>
            <hr class="my-4">
            <img src="assets/Images/Monitor/monitor_head.jpg" style="width: 60%; height:400px; margin-left: 20%;"/>
        </div>
        <div class="card" style="width: max-content; margin-left: 30%;">
            <div class="card-header">
                ROG
            </div>
            <div class="card-body">
                <h5 class="card-title">Republic of Gamers</h5>
                <img src="assets/Images/Monitor/rog.png" style="width: 500px; height: 300px;">
                <p class="card-text">Great FPS comes with Great Aesthetic</p>
            </div>
            <div class="card-footer">
                Starts from $249.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%">
            <div class="card-header">
                Acer
            </div>
            <div class="card-body">
                <h5 class="card-title">Beyond Limits</h5>
                <img src="assets/Images/Monitor/Acer.jpg" style="width: 500px; height: 300px;">
                <p class="card-text">For all types of work and Games</p>
            </div>
            <div class="card-footer">
                Starts from $99.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%">
            <div class="card-header">
                Asus
            </div>
            <div class="card-body">
                <h5 class="card-title">In Search of Incredible</h5>
                <img src="assets/Images/Monitor/asus.jpg" style="width: 500px; height: 300px;">
                <p class="card-text">Sleek, Smart and Just Works</p>
            </div>
            <div class="card-footer">
                Starts from $139.99
            </div>
        </div><hr>
        <div class="card" style="width: max-content; margin-left: 30%">
            <div class="card-header">
                Samsung
            </div>
            <div class="card-body">
                <h5 class="card-title">Simply the Best</h5>
                <img src="assets/Images/Monitor/samsung.png" style="width: 500px; height: 300px;">
                <p class="card-text">Best Screens for Display on the Market</p>
            </div>
            <div class="card-footer">
                Starts from $119.99
            </div>
        </div>
    </body>
</html>